*{
    margin: 0;
    padding: 0;
}
.grid{
    margin-top: 30px;
    padding: 20px;
    z-index: 50;
    margin-left: 90px;

   
}
img {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    
  }
  img:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    z-index: 51;
  }
  .grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "I1 I1 I3 I8 "
      "I1 I1 I2 I8"
      "I4 I5 I6 I7"
    " I9 I10 I11 I12";
  }
  
  .item1 {
    grid-area: I1;
  }
  .item2 {
    grid-area: I2;
  }
  .item3 {
    grid-area: I3;
  }
  .item4 {
    grid-area: I4;
  }
  .item5 {
    grid-area: I5;
  }
  .item6 {
    grid-area: I6;
  }
  .item7 {
    grid-area: I7;
  }
  .item8 {
    grid-area: I8;
  }
  .item9 {
    grid-area: I9;
  }
  .item10 {
    grid-area: I10;
  }
  .item11 {
    grid-area: I11;
  }
  .item12 {
    grid-area: I12;
  }
  .item13 {
    grid-area: I13;
  }
  .item14 {
    grid-area: I14;
  }
  .item15 {
    grid-area: I15;
  }
  .item16 {
    grid-area: I16;
  }
  .item17 {
    grid-area: I17;
  }
  .item18 {
    grid-area: I18;
  }
 