*{
    margin: 0;
    padding: 0;
}
.container1{
    display: flex;
    max-width: 1000px;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    padding: 40px;
    gap: 20px;

}
img{
    height: 400px;
    justify-content: center;
  
}
h5{
    background-color: green;
    color: white;
}