*{
    margin: 0;
    padding: 0;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
   
}
h1{
    text-align: center;
    margin-top: 16%;
    z-index: 1;
    font-size: 190px;
    /* line-height: 160px; */
    /* margin-left: -10px; */
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: name 20s linear infinite;
    text-decoration: underline dotted white;
}

@keyframes name{
    100%{
        background-position: 2000px 0;
    }
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble{
    0%
    {
        transform: translateY(0);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(-80vh);
        opacity: 0;
    }

}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 45px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 30px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 50px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 25px;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 30px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 55px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 25px;
}